<main>

	{{- partial "header/main/header.html" . -}}

	<section class="content" id="section1">
		<div class="grid grid--0">
			<div class="grid-wrap" id="page-wrap">
				{{- partial "home/biohazard.html" . -}}
			</div>
		</div>
		<div class="content__title--right content__title">
			<div class="b_memory_section-biohazard b_memory_section">
				<h3>Spir<span class="animation--run">i</span>tis <br /> sho<span style="text-shadow: none; color: #333">p</span>w</h3>
				<canvas id="root_biopunk" width="300" height="300">
					<p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
				</canvas>
			</div>
			<div id="associative_biopunk" style="display: none;">
				<a href="#" onclick="return false">c</a>
				<a href="#" onclick="return false">n</a>
				<a href="#" onclick="return false">i</a>
				<a href="#" onclick="return false">o</a>
				<a href="#" onclick="return false">t</a>
				<a href="#" onclick="return false">s</a>
				<a href="#" onclick="return false">s</a>
				<a href="#" onclick="return false">i</a>
				<a href="#" onclick="return false">y</a>
				<a href="#" onclick="return false">o</a>
				<a href="/">#m</a>
				<a href="/">#p</a>
			</div>
			<p>Check out the selection It's Not What It Seems and Horror about drugs</p>
		</div>
	</section>

	<section class="content--spacing content" id="section2">
		<div class="grid grid--1">
			<div class="grid-wrap">
				{{- partial "home/culture.html" . -}}
			</div>
		</div>
		<div class="content__title--bottom content__title">
			<div class="b_memory_section">
				<h3>Til Hell!</h3>
				<canvas id="root_culture" width="680" style="width: 100%" height="300">
					<p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
				</canvas>
			</div>
			<div id="associative_culture" style="display: none;">
				<a href="tags/mythology/">#mythology</a>
				<a href="tags/industry/">#industry</a>
				<a href="tags/militarism/">#militarism</a>
				<a href="tags/folklore/">#folklore</a>
				<a href="tags/necro-fetishism/">#necro fetishism</a>
			</div>
		</div>
	</section>

	<section class="content--spacing content" id="section3">
		<div class="grid grid--2">
			<div class="grid-wrap">
				{{- partial "home/last-dreams.html" . -}}
			</div>
		</div>
		<div class="content__title--top content__title">
			<div class="b_memory_section">
				<canvas id="root_dreams" width="680" style="width: 100%" height="300">
					<p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
				</canvas>
			</div>
			<div id="associative_dreams" style="display: none;">
				<a href="tags/houses-of-sorrow/">#house of sorrow</a>
				<a href="tags/faith/">#faith</a>
			</div>
		</div>
	</section>

	<p class="credits">Associative Connection : horror <br /> Как же ты не видишь? Мы уже в аду / c. <br /> Кто проклял - тот и клят <br /> Думаешь тебя можно простить? <br /> Это конец. Прощай. <br /> Я предупреждаю тебя принцесса: первый раз бывает немного грязно <br /> Ешь или умри <br /> Некуда бежать <br /> Вы будете сотрудничать <br /> Беги кролик, беги!</p>

</main>