<main>

	{{- partial "widgets/lost-memories.html" . -}}

	{{- partial "header/main/header.html" . -}}

	<section class="content" id="section1">
		<div class="grid grid--0">
			<div class="grid-wrap" id="page-wrap">
				{{- partial "home/biohazard.html" . -}}
			</div>
		</div>
		<div class="content__title--right content__title">
			<div class="b_memory_section-biohazard b_memory_section">
				<h3 id="spiritis_show">Spir<span class="animation--run">i</span>tis <br /> sho<span style="text-shadow: none; color: #333">p</span>w</h3>
				{{ if eq .Site.Language.LanguageCode "uk" }}
					<p>Check out the selection <a href="series/its-not-what-it-seems/">&#8220;It's Not What It Seems&#8221;</a> and <a href="series/horror-about-drugs/">&#8220;Horror about drugs&#8221;</a></p>
				{{ end }}
				<canvas id="root_biopunk" width="600" style="width: 100%" height="300">
					<p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
				</canvas>
			</div>
			<div id="associative_biopunk" style="display: none;">
				<a href="uk/tags/mystic/">c</a><a href="uk/tags/poison/">n</a><a href="uk/tags/mystic/">i</a><a href="uk/tags/poison/">o</a><a href="uk/tags/mystic/">t</a><a href="uk/tags/poison/">s</a><a href="uk/tags/mystic/">s</a><a href="uk/tags/poison/">i</a><a href="uk/tags/mystic/">y</a><a href="uk/tags/poison/">o</a><a href="uk/tags/mystic/">#m</a><a href="uk/tags/poison/">#p</a>
			</div>
		</div>
	</section>

	<section class="content--spacing content" id="section2">
		<div class="grid grid--1">
			<div class="grid-wrap">
				{{- partial "home/culture.html" . -}}
			</div>
		</div>
		<div class="content__title--bottom content__title">
			<div class="b_memory_section">
				<h3 id="til_hell">Til Hell!</h3>
				{{ if eq .Site.Language.LanguageCode "uk" }}
					<p>Check out the selection <a href="series/business-approach-military/">&#8220;Business approach military&#8221;</a>, <a href="series/horror-about-the-earth/">&#8220;Horror about the earth&#8221;</a> and <a href="series/horror-about-world-wars/">&#8220;Horror about world wars&#8221;</a></p>
				{{ end }}
				<canvas id="root_culture" width="600" style="width: 100%" height="300">
					<p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
				</canvas>
			</div>
			<div id="associative_culture" style="display: none;">
				<a href="tags/mythology/">#mythology</a>
				<a href="tags/industry/">#industry</a>
				<a href="tags/militarism/">#militarism</a>
				<a href="tags/folklore/">#folklore</a>
				<a href="tags/necro-fetishism/">#necro fetishism</a>
			</div>
		</div>
	</section>

	<section class="content--spacing content" id="section3">
		<div class="grid grid--2">
			<div class="grid-wrap">
				{{- partial "home/last-dreams.html" . -}}
			</div>
		</div>
		<div class="content__title--top content__title">
			<div class="b_memory_section">
				<h3 id="insanity_forever">Insanity Forever</h3>
				{{ if eq .Site.Language.LanguageCode "uk" }}
					<p><a href="series/through-the-eyes-of-the-monster/">&#8220;Through the Eyes of the Monster&#8221;</a> <br /> <a href="series/horror-worlds-and-writers/">&#8220;Horror Worlds and Writers&#8221;</a> <br /> <a href="series/horrors-about-investigations-inside-monasteries/">&#8220;Horrors About Investigations Inside Monasteries&#8221;</a> <br /> <a href="series/insanity-forever/">&#8220;Insanity Forever&#8221;</a></p>
				{{ end }}
				<canvas id="root_dreams" width="600" style="width: 100%" height="300">
					<p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
				</canvas>
			</div>
			<div id="associative_dreams" style="display: none;">
				<a href="tags/houses-of-sorrow/">#house of sorrow</a>
				<a href="tags/faith/">#faith</a>
			</div>
		</div>
	</section>

	<div class="credits">
		{{- partial "widgets/crystal-ball.html" . -}}
	</div>

</main>