{{ $langNow := .Lang }}
{{ $hero_img := .Site.Params.page.defaultPostImg }}
{{ $hero_title := "" }}
{{ $hero_des := "" }}
{{ $isMultiLingual := and (ne .Site.Language.Weight 1) (and .Site.IsMultiLingual (not .Site.Params.Site.OnlyOneLang)) }}
{{ if eq .Kind "section" }}
    {{ if eq .Section "library" }}
        {{ $hero_img = .Site.Params.page.libraryPostsTopImg }}
        {{ $hero_title = i18n "Posts_libraryPosts" }}
        {{ $hero_des = .Site.Params.page.libraryPostsDes }}
    {{ else if eq .Section "about" }}
        {{ $hero_img = .Site.Params.page.aboutTopImg }}
        {{ $hero_title = i18n "About_about" }}
        {{ $hero_des = .Site.Params.page.aboutDes }}
    {{ else if eq .Section "articles" }}
        {{ $hero_title = i18n "Articles_articles" }}
    {{ end }}

{{ else if eq .Kind "taxonomy" }}
    {{ if eq .Section "categories" }}
        {{ $hero_img = .Site.Params.page.categoryTopImg }}
        {{ $hero_title = i18n "Categories_categories" }}
        {{ $hero_des = .Site.Params.page.categoryDes }}
    {{ else if eq .Section "tags" }}
        {{ $hero_img = .Site.Params.page.tagTopImg }}
        {{ $hero_title = i18n "Tags_tags" }}
        {{ $hero_des = .Site.Params.page.tagDes }}
    {{ else if eq .Section "series" }}
        {{ $hero_img = .Site.Params.page.seriesTopImg }}
        {{ $hero_title = i18n "Series_series" }}
        {{ $hero_des = .Site.Params.page.seriesDes }}
    {{ end }}

{{ else if eq .Kind "term" }}
    {{ if eq .Section "categories" }}
        {{ $hero_title = add (i18n "CategoriesTerms_category") ": " }}
    {{ else if eq .Section "tags" }}
        {{ $hero_title = add (i18n "TagsTerms_tag") ": " }}
    {{ else if eq .Section "series" }}
        {{ $hero_title = add (i18n "SeriesTerms_series") ": " }}
    {{ end }}

{{ else if eq .Kind "home" }}
    {{ $hero_img = .Site.Params.page.homeTopImg }}
    {{ $hero_title = .Site.Params.page.homeTitle }}
    {{ $hero_des = .Site.Params.page.homeContent }}
{{ end }}

<div class="castration base_width p_relative preview">
<div class="t_center b_shadow_brown media_base_width p_relative preview_center">

    {{ if eq .Kind "home" }}

        {{ with $hero_title }}
            <h1>{{ . | markdownify }}</h1>
        {{ end }}
        {{ with $hero_des }}
            <p>{{ . | markdownify }}</p>
        {{ end }}

    {{ else if eq .Kind "page" }}

        <h1>{{ .Title }}</h1>
        <p>{{ .Params.subtitle }}</p>

    {{ else if or (eq .Kind "section") (eq .Kind "taxonomy") }}

        <h1>{{ $hero_title }}</h1>
        <p>{{ $hero_des }}</p>

    {{ else if eq .Kind "term" }}

        {{ $firstChild := index .Pages 0 }}

        <h1>{{ $hero_title }}{{ .Title }}</h1>

    {{ end }}

</div> </div>