{{ $langNow := .Lang }}
{{ $isMultiLingual := and (ne .Site.Language.Weight 1) (and .Site.IsMultiLingual (not .Site.Params.Site.OnlyOneLang)) }}
{{ $includedIn := "newnewnew" }}
{{ $libraryPages := where .Site.RegularPages "Type" "library" }}
{{ $groups := $libraryPages.GroupByDate "2006" }}

{{ $paginator := .Paginate $groups }}
{{ range $paginator.Pages }}
  <h1>{{ .Key }}</h1>  <!-- Год -->
  {{ range .Pages }}   <!-- Все посты за год -->
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ end }}
{{ end }}

<!-- Пагинация по годам -->
{{ template "_internal/pagination.html" . }}