<section id="lost_memories" class="t_center lost_memories" tabindex="0">

    {{ $shortcode := printf "{{< show-main-post path=\"%s\" >}}" "page/lost-memories" }}
        {{ $renderedContent := $shortcode | .Page.RenderString }}
    {{ $renderedContent }}

    <button id="cancel" class="cancel">Go</button>

	<div class="outro">
		<h2 class="outro__title">More you might like</h2>
		<div class="card-wrap">
			<div class="card">
				<a href="#" class="card__image" style="
                background-image: url(/img/main/dreams/001.png)"></a>
                <h3 class="card__title">
                	<a href="#">Post</a>
                </h3>
            </div>
            <div class="card">
            	<a href="#" class="card__image" style="background-image: url(/img/main/dreams/001.png);"></a>
            	<h3 class="card__title">
            		<a href="#">Post</a>
            	</h3>
            </div>
            <div class="card">
            	<a href="#" class="card__image" style="background-image: url(/img/main/dreams/001.png);"></a>
            	<h3 class="card__title">
            		<a href="#">Post</a>
            	</h3>
            </div>
        </div>
    </div>

</section>