	<section class="outro">
		<h2 class="outro__title">More you might like</h2>
		<div class="card-wrap">
			<div class="card">
				<a href="#" class="card__image" style="
                background-image: url(/img/main/dreams/001.png)"></a>
                <h3 class="card__title">
                	<a href="#">Post</a>
                </h3>
            </div>
            <div class="card">
            	<a href="#" class="card__image" style="background-image: url(/img/main/dreams/001.png);"></a>
            	<h3 class="card__title">
            		<a href="#">Post</a>
            	</h3>
            </div>
            <div class="card">
            	<a href="#" class="card__image" style="background-image: url(/img/main/dreams/001.png);"></a>
            	<h3 class="card__title">
            		<a href="#">Post</a>
            	</h3>
            </div>
            <div class="card">
            	<a href="#" class="card__image" style="background-image: url(/img/main/dreams/001.png);"></a>
            	<h3 class="card__title">
            		<a href="#">Post</a>
            	</h3>
            </div>
        </div>
    </section>