@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Press+Start+2P&family=Rye&display=swap');

*, 
*:after, 
*:before {
	box-sizing: border-box
}

:root {
	font-size: 16px;
	scrollbar-width: none; /* firefox */
	--color-bg-alt: rgb(15, 14, 14);
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #907030;
	--color-title: #907030;
	--perspective: 1500px;
	--grid-item-ratio: 1.5;
	--grid-width: 100%;
	--grid-height: auto;
	--grid-gap: 2vw;
	--grid-columns: 4;
	--grid-inner-scale: 1;
}

html:-webkit-scrollbar { /* webkit */
	width: 0; height: 0;
}

body {
	margin: 0;
	background: var(--color-bg);
	color: var(--color-text);
	font-family: "moret-variable", serif;
	font-variation-settings: "ital" 0, "wght" 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading:before, 
.js .loading:after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading:after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

body #cdawrap {
    justify-self: start
}

a {
	text-decoration: underline;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:not(.card__image):focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:not(.card__image):focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent
}

a:not(.card__image):focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

main {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.lost_memories {
    z-index: 999;
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    padding: 20px 10vw;
    background-color: #fff;
    overflow-y: auto;
    font-family: 'Philosopher', sans-serif; font-size: 110%; font-weight: 700;
}

.lost_memories h4 {font-size: 150%;}

.lost_memories ol ol {margin-right: 20px; margin-left: 20px;}

.lost_memories li {margin-top: 15px;}

.hat {
    text-align: center;
    place-items: center;
	background-image: url(/img/main/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
	height: 100vh;
	width: 100vw;
	display: grid;
	z-index: 999;
}

.hat:before {
	pointer-events: none;
	content: '';
	background: radial-gradient(20vw, transparent, rgba(0, 0, 0, .90));
	left: 0;
	top: 0;
	height: inherit;
	width: inherit;
	position: absolute;
}

.b_memory_section {
	height: 300px;
	max-width: 700px;
}

.linkBiopunk {font-family: "Press Start 2P", system-ui}
.linkCulture {font-family: "Rye", serif}
.linkDreams {font-family: "Henny Penny", system-ui}

.card-wrap {
	margin-top: 5vh;
	display: grid;
	grid-gap: 2rem;
	grid-auto-flow: row;
	grid-template-columns: 250px;
}

.card__image {
	display: block;
	border-radius: 7px;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: auto;
	aspect-ratio: 4 / 3;
	filter: contrast(0.8);
}

.credits {
	font-size: 1.5rem;
	text-align: center;
	margin: 50vh auto 0;
	padding-bottom: 50vh;
}

.content {
	position: relative;
	margin-bottom: 20vh;
}

.content--spacing {
	margin-bottom: 100vh
}

.content__title {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 50%;
	left: 50%;
	margin: -50vh 0 0 -50vw;
	padding: 0 10vw;
	display: grid;
	place-items: center;
	text-align: center;
	font-weight: 300;
	background: radial-gradient(20vw, rgba(0, 0, 0, .90), transparent);
}

.content__title h3 {font-size: clamp(1.5rem, 2.5vw, 6.5rem);}
.content__title p {font-size: clamp(1rem, 2vw, 3.5rem); line-height: 1.9; text-shadow: 0px -6px 6px #000;}

#section1 .content__title {font-family: "Press Start 2P", system-ui}
#section1 h3 {
	color: #fee;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #0ff, 0 0 0.5em #0ff, 0 0 0.1em #0ff, 0px -3px 3px #ff0, 0px -6px 6px #000;
}
#section1 .animation--run {animation: blink linear infinite 2s;}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
#section2 .content__title {font-family: "Rye", serif}
#section3 .content__title {font-family: "Henny Penny", system-ui}

.content__title--top {
	align-items: start
}

.content__title--bottom {
	align-items: end
}

.content__title--left {
	justify-items: start;
	text-align: left;
}

.content__title--right {
	justify-items: end
}

.bottleMask {
	background-color: #fff;
	clip-path: circle(29% at 50% 60%);
	/*clip-path: polygon(42% 32%, 42% 32%, 49% 34%, 49% 34%, 56% 34%, 56% 34%, 62% 35%, 62% 35%, 66% 39%, 66% 39%, 71% 42%, 71% 42%, 74% 47%, 74% 47%, 76% 53%, 76% 53%, 78% 59%, 78% 59%, 78% 65%, 78% 65%, 76% 71%, 76% 71%, 74% 75%, 74% 75%, 70% 80%, 70% 80%, 64% 84%, 64% 84%, 58% 87%, 58% 87%, 51% 89%, 51% 89%, 42% 88%, 42% 88%, 37% 85%, 37% 85%, 32% 82%, 32% 82%, 27% 77%, 27% 81%, 24% 70%, 24% 70%, 22% 63%, 22% 63%, 23% 56%, 23% 56%, 25% 51%, 25% 51%, 28% 45%, 28% 52%, 31% 40%, 31% 40%, 35% 38%, 35% 38%, 38% 35%, 38% 35%);*/
}

.outro {
	display: grid;
	place-items: center;
	margin: 40vh 0;
}

.grid {
	display: grid;
	place-items: center;
	padding: 2rem;
	width: 100%;
	perspective: var(--perspective);
}

.grid-wrap {
	height: var(--grid-height);
	width: var(--grid-width);
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--grid-gap);
	transform-style: preserve-3d;
}

.grid__item {
	aspect-ratio: var(--grid-item-ratio);
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	border-radius: 8px;
	display: grid;
	place-items: center;
}

.grid__item-inner {
	position: relative;
	width: calc(1 / var(--grid-inner-scale) * 100%);
	height: calc(1 / var(--grid-inner-scale) * 100%);
	background-size: cover;
	background-position: 50% 50%;
}



.pt0{fill:#968747;}
	.pt1{fill:#89772E;}
	.pt2{fill:#87762D;}
	.pt3{fill:#A18D33;}
	.pt4{fill:#C6B158;}
	.pt5{fill:#605422;}
	.pt6{fill:#D2B951;}
	.pt7{fill:#7F7455;}
	.pt8{fill:#4C483F;}
	.pt9{fill:#A8964C;}
	.pt10{fill:#99873A;}
	.st11{fill:#5076B2;}
	.st12{fill:#567BB5;}
	.st13{fill:#5B81B8;}
	.st14{fill:#6186BB;}
	.st15{fill:#678CBE;}
	.st16{fill:#6C91C1;}
	.st17{fill:#7296C4;}
	.st18{fill:#789CC7;}
	.st19{fill:#7DA1CA;}
	.st20{fill:#83A6CD;}
	.st21{fill:#89ACD0;}
	.st22{fill:#8EB1D2;}
	.st23{fill:#94B7D5;}
	.st24{fill:#9ABCD8;}
	.st25{fill:#9FC1DB;}
	.st26{fill:#A5C7DE;}
	.st27{fill:#ABCCE1;}
	.st28{fill:#B0D1E4;}
	.st29{fill:#B6D7E7;}
	.st30{fill:#BCDCEA;}
	.st31{fill:#C1E2ED;}
	.st32{fill:#C7E7F0;}
  .st0{fill:#232B2B;}
	.st1{fill:url(#SVGID_1_);}
	.st2{fill:url(#SVGID_2_);}
	.st3{fill:url(#SVGID_3_);}
	.st4{fill:url(#SVGID_4_);}
	.st5{fill:url(#SVGID_5_);}
	.st6{fill:url(#SVGID_6_);}
	.st33{opacity:0.2;fill:#FFFFFF;enable-background:new    ;}
	.st34{fill:#E6F0FF;}
	.st35{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}

html{
      background-color: #232b2b;
    }
    body {
    		margin: 0;
    		padding: 0;
    		height: 100%;
    		width: 100%;
    	}

    canvas {
      -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2), inset 0px 10px 110px 25px rgba(255, 255, 255, 1));
      -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2), inset 0px 10px 110px 25px rgba(255, 255, 255, 1));
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2), inset 0px 10px 110px 25px rgba(255, 255, 255, 1);
        position: absolute;
        right: 0;
        left: 0;
        margin:auto;
        margin-top: 120px;
        width:400px;
        height:400px;
        border-radius: 100%;
        clip-path: circle(200px at 200px 200px);
        clip-path: circle(200px at center);
    	  display: block;
    	  position: absolute;
    	  background: #ccc;
        opacity: .5;
    	}
      .crystal{
        width:400px;
        margin:0 auto;
        position: absolute;
        left:0;
        right:0;
        margin-top:120px;
        z-index: -1;
      }
 /*div{
        background-color: #232b2b;
        width: 100%;
        height: 100%;
        display: block;
    	  position: absolute;
        z-index: -2;
      }*/

      .glare{
        z-index: 10;
        position: absolute;
        width:140px;
        left: 0;
        right:184px;
        margin:0 auto;
        margin-top:142px;
        opacity: .8;
      }
      .foreground{
        position:absolute;
        width:100%;
        height:220px;
        background-color:#232b2b;
        top:440px;
        z-index: -5;
        background: radial-gradient(ellipse at center,  rgba(35, 43, 43, 0.19) 0%, rgba(156, 176, 228, 0.75) 30%, rgba(45, 36, 59, 0.65) 55%, rgba(45, 36, 59, 0.75) 100%); /* W3C */
        -webkit-animation: foreground-glowing 1500ms infinite;
        -moz-animation: foreground-glowing 1500ms infinite;
        -o-animation: foreground-glowing 1500ms infinite;
        animation: foreground-glowing 1500ms infinite;
      }
      .foreground-wall{
        position:absolute;
        width:100%;
        top:660px;
        z-index: -4;
      }
      .glow{
        border-radius: 100%;
        position: absolute;
        right: 0;
        left: 0;
        margin:auto;
        margin-top: 120px;
        width:400px;
        height:400px;
        -webkit-animation: glowing 1500ms infinite;
        -moz-animation: glowing 1500ms infinite;
        -o-animation: glowing 1500ms infinite;
        animation: glowing 1500ms infinite;
      }
        @-webkit-keyframes glowing {
          0% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .4;}
          50% { background-color: #92d5ff; box-shadow: 0 0 40px #5aa9ec; opacity: .6;}
          100% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .4;}
      }
      @-moz-keyframes glowing {
        0% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .4;}
        50% { background-color: #92d5ff; box-shadow: 0 0 40px #5aa9ec; opacity: .6;}
        100% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .4;}
      }
      @-o-keyframes glowing {
        0% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .4;}
        50% { background-color: #92d5ff; box-shadow: 0 0 40px #5aa9ec; opacity: .6;}
        100% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .4;}
      }
      @keyframes glowing {
        0% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .4;}
        50% { background-color: #92d5ff; box-shadow: 0 0 40px #5aa9ec; opacity: .6;}
        100% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .4;}
      }

      @keyframes foreground-glowing {
        0% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .2;}
        50% { background-color: #92d5ff; box-shadow: 0 0 3px #5aa9ec; opacity: .3;}
        100% { background-color: #9cb0ea; box-shadow: 0 0 3px #92e4ff; opacity: .2;}
      }





@media screen and (min-width: 53em) {
	.content--outro {
		height: 100vh;
		justify-content: center;
	}

	.card-wrap {
		grid-template-columns: repeat(3,250px);
	}

	body #cdawrap {
	    justify-self: end
	}
}

@media all and (max-width: 550px) {
.content__title {
	background: radial-gradient(50vw, rgba(0, 0, 0, .90), transparent);
}
}