<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter1">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk1.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask1" fill="white">
					<image id="imgBiopunk1" xlink:href="/img/main/biopunk/001.webp" width="100%" height="120%" filter="url(#poisonFilter1)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask1)" fill="#ff0000" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#ff0000" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter2">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk2.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask2" fill="white">
					<image id="imgBiopunk2" xlink:href="/img/main/biopunk/002.webp" width="100%" height="120%" filter="url(#poisonFilter2)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask2)" fill="#ff8000" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#ff8000" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter3">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk3.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask3" fill="white">
					<image id="imgBiopunk3" xlink:href="/img/main/biopunk/003.webp" width="100%" height="120%" filter="url(#poisonFilter3)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask3)" fill="#ffff00" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#ffff00" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter4">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk4.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask4" fill="white">
					<image id="imgBiopunk4" xlink:href="/img/main/biopunk/004.webp" width="100%" height="120%" filter="url(#poisonFilter4)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask4)" fill="#008000" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#008000" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter5">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk5.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask5" fill="white">
					<image id="imgBiopunk5" xlink:href="/img/main/biopunk/005.webp" width="100%" height="150%" filter="url(#poisonFilter5)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask5)" fill="#00BFFF" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#00BFFF" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter6">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk6.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask6" fill="white">
					<image id="imgBiopunk6" xlink:href="/img/main/biopunk/006.webp" width="100%" height="120%" filter="url(#poisonFilter6)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask6)" fill="#0ff" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#0ff" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter7">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk7.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask7" fill="white">
					<image id="imgBiopunk7" xlink:href="/img/main/biopunk/007.webp" width="100%" height="120%" filter="url(#poisonFilter7)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask7)" fill="#0000FF" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#0000FF" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter8">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk8.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask8" fill="white">
					<image id="imgBiopunk8" xlink:href="/img/main/biopunk/008.webp" width="100%" height="120%" filter="url(#poisonFilter8)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask8)" fill="#0ff" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#0ff" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter9">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk9.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask9" fill="white">
					<image id="imgBiopunk9" xlink:href="/img/main/biopunk/009.gif" width="100%" height="120%" filter="url(#poisonFilter9)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask9)" fill="#0ff" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#0ff" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter10">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk10.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask10" fill="white">
					<image id="imgBiopunk10" xlink:href="/img/main/biopunk/010.webp" width="100%" height="120%" filter="url(#poisonFilter10)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask10)" fill="#6900C6" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#6900C6" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter11">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk11.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask11" fill="white">
					<image id="imgBiopunk11" xlink:href="/img/main/biopunk/011.webp" width="100%" height="120%" filter="url(#poisonFilter11)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask11)" fill="#0ff" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#0ff" />
		</svg>
	</div>
</div>

<div class="curtain grid__item">
	<div class="grid__item-inner">
		<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="poisonFilter12">
					<feTurbulence type="turbulence" baseFrequency="0.0001" numOctaves="1" result="turbulence">
						<animate attributeName="baseFrequency" dur="15s" values="0.0001;0.02;0.0001" begin="imgBiopunk12.load" repeatDur="indefinite" />
					</feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="25" in="SourceGraphic" in2="turbulence" />
				</filter>
				<mask id="bottleMask12" fill="white">
					<image id="imgBiopunk12" xlink:href="/img/main/biopunk/012.webp" width="100%" height="120%" filter="url(#poisonFilter12)" />
				</mask>
			</defs>
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<path class="bottleMask" mask="url(#bottleMask12)" fill="#0ff" d="M0, 0h300v300H0V0z" />
			<image xlink:href="/img/main/bottle-white.webp" width="300" />
			<rect width="40" height="33" x="130" y="0" fill="#0ff" />
		</svg>
	</div>
</div>