<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/01.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/2.png)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/3.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/4.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/5.gif)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/6.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/7.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/8.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/9.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/10.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/11.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/12.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/13.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/14.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/15.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/16.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/17.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/18.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/19.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/20.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/21.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/22.jpg)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/23.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(img/culture/24.jpg)"></div></div>