<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/001.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/002.gif)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/003.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/004.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/005.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/006.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/007.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/008.webp)"></div></div>
<div class="grid__item"><div class="grid__item-inner" style="background-image:url(/img/main/culture/009.webp)"></div></div>