{{ define "main" }}
    {{ partial "widgets/aside.html" . }}

    <section class="castration fl p_relative modules">
        <div class="content-block">
            <div class="content-list-col">
                <ul>
                    {{ if (not .Params.hideFromCenter) }}
                        <li>
                            {{ range .Pages }}
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </section>
{{ end }}