{{ define "main" }}
    {{ partial "widgets/aside.html" . }}

    <section class="castration fl p_relative modules">
        <div class="content-block">
            <div class="content-list-col">
                <ul>
        {{$section := .Section}}
    {{if (eq $section "articles") }}
        
            {{ partial "widgets/post-card.html" . }}
        {{ end }}
        {{if not (eq $section "articles") }}
            {{ partial "widgets/archives.html" . }}
        {{ end }}
                </ul>
            </div>
        </div>
    </section>
{{ end }}